.quizBackground {
    -fx-background-color:#eee;
}

.quizProgress, .quizScore {
    -fx-background-color:#f98;
    -fx-border-width: 0 3px 3px 0;
    -fx-border-color: red;
    -fx-border-style: solid;
    -fx-padding: 5px;
    -fx-text-alignment: center;
}

.quizProgress {
    -fx-border-width: 0 3px 3px 0;
}

.quizScore {
    -fx-border-width: 3px 0 0 3px;
}

.quizMainQuestion {
    -fx-font-size: 2em;
    -fx-fill: #f65;
    -fx-font-style: italic;

}

#homeTitle {
    -fx-background-color:#f65;
    -fx-fill:white;
    -fx-border-width: 5px 0;
    -fx-border-style: solid;
    -fx-border-color: #f98;
    -fx-text-alignment: center;
}

.answerButton, #homeButton {
    -fx-background-color: transparent, #f65;
    -fx-background-radius: 0px;
    -fx-text-fill:white;
    -fx-border-width: 5px 0;
    -fx-border-style: solid;
    -fx-border-color: #f98;
}